.links-list {
    list-style: none;
}

.links-list li {
    display: flex;
    margin: 25px 20px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
}

.links-list li:hover {
    cursor: pointer;
}

.links-list li a {
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.links-list li img {
    filter: invert(50%);
    height: 50px;
}

.links-list li:nth-of-type(2) > img {
    height: 45px;
    padding-right: 4px;
}

.links-list li a span {
    color: rgb(97, 97, 97);
    display: block;
    margin-top: 5px;
    font-size: 16px;
}

.active {
    box-shadow: 0 0 10px white;
    animation: pulsate 1s infinite alternate;
    transition: all ease-in 150ms;
}

@media (min-width: 901px) {
    .active:hover {
        transform: scale(1.05);
    }
}


@keyframes pulsate {
    from {
        box-shadow: 0 0 7px white;
    }
    to {
        box-shadow: 0 0 15px whitek;
    }
}